# Ignore uploads folder
/uploads/


# Ignore secrets folder and its contents
/services/auth-service/.env
/services/auth-service/secrets/
/services/auth-service/secrets/*
/services/auth-service/static/
/services/auth-service/static/*

/services/session-mngt/.env
/services/session-mngt/secrets/
/services/session-mngt/secrets/*

/services/otp-service/.env

/services/kyc-service/.env
/services/kyc-service/secrets/
/services/kyc-service/secrets/*


/services/email-service/.env

/services/cashier-service/.env
/services/cashier-service/secrets/
/services/cashier-service/secrets/*

/services/account-service/.env

/services/sms-service/.env
/services/sms-service/secrets/
/services/sms-service/secrets/*

/services/partner-service/.env
/services/partner-service/secrets/
/services/partner-service/secrets/*

/ui/screen/auth_test.html


/services/core-service/.env
/services/core-service/secrets/
/services/core-service/secrets/*

/services/u-access-service/.env
/services/u-access-service/secrets/
/services/u-access-service/secrets/*