# Ignore uploads folder
/uploads/

/pgdata/


# Ignore secrets folder and its contents
/services/common-services/authentication/auth-service/.env
/services/common-services/authentication/auth-service/secrets/
/services/common-services/authentication/auth-service/secrets/*
/services/common-services/authentication/auth-service/static/
/services/common-services/authentication/auth-service/static/*

/services/common-services/authentication/session-mngt/.env
/services/common-services/authentication/session-mngt/secrets/
/services/common-services/authentication/session-mngt/secrets/*

/services/common-services/authentication/audit-service/.env
/services/common-services/authentication/audit-service/secrets/
/services/common-services/authentication/audit-service/secrets/*

/services/common-services/authentication/otp-service/.env

/services/user-services/kyc-service/.env
/services/user-services/kyc-service/secrets/
/services/user-services/kyc-service/secrets/*


/services/common-services/comms-services/email-service/.env

/services/user-services/cashier-service/.env
/services/user-services/cashier-service/secrets/
/services/user-services/cashier-service/secrets/*

/services/user-services/account-service/.env

/services/common-services/comms-services/sms-service/.env
/services/common-services/comms-services/sms-service/secrets/
/services/common-services/comms-services/sms-service/secrets/*

/ui/screen/auth_test.html


/services/common-services/core-service/.env
/services/common-services/core-service/secrets/
/services/common-services/core-service/secrets/*

/services/common-services/comms-services/notification-service/.env
/services/common-services/comms-services/notification-service/secrets/
/services/common-services/comms-services/notification-service/secrets/*

/services/common-services/authentication/u-access-service/.env
/services/common-services/authentication/u-access-service/secrets/
/services/common-services/authentication/u-access-service/secrets/*

/services/admin-services/admin-auth-service/.env
/services/admin-services/admin-auth-service/secrets/
/services/admin-services/admin-auth-service/secrets/*

/services/admin-services/admin-service/.env
/services/admin-services/admin-service/secrets/
/services/admin-services/admin-service/secrets/*

/services/admin-services/admin-session-mngt/.env
/services/admin-services/admin-session-mngt/secrets/
/services/admin-services/admin-session-mngt/secrets/*

/services/admin-services/u-access-service/.env
/services/admin-services/u-access-service/secrets/
/services/admin-services/u-access-service/secrets/*

/services/partner-services/partner-service/.env
/services/partner-services/partner-service/secrets/
/services/partner-services/partner-service/secrets/*

/services/partner-services/ptn-auth-service/.env
/services/partner-services/ptn-auth-service/secrets/
/services/partner-services/ptn-auth-service/secrets/*

/services/partner-services/ptn-session-mngt/.env
/services/partner-services/ptn-session-mngt/secrets/
/services/partner-services/ptn-session-mngt/secrets/*

/services/partner-services/u-access-service/.env
/services/partner-services/u-access-service/secrets/
/services/partner-services/u-access-service/secrets/*

/services/common-services/fx-services/accounting-service/.env
/services/common-services/fx-services/accounting-service/secrets/
/services/common-services/fx-services/accounting-service/secrets/*

/services/common-services/fx-services/receipt-service/.env
/services/common-services/fx-services/payment-service/.env
/services/common-services/fx-services/payment-service/certs/
/services/common-services/fx-services/payment-service/certs/*


/services/common-services/fx-services/crypto-service/.env
/services/common-services/fx-services/crypto-service/secrets/
/services/common-services/fx-services/crypto-service/secrets/*

/recovery_file_2026-02-05.dat